<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>3D Ikea</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
      <ul class="thumbnails">
          <li class="span3">
            <a href="http://www.w3resource.com/php/php-home.php" class="thumbnail">
                <img src="#" width="260" height="180" />
          </a>
      </li>
      <li class="span4">
        <a href="http://www.w3resource.com/sql/tutorials.php" class="thumbnail">
          <img src="#" width="300" height="180" />
      </a>
  </li>
  <li class="span5">
    <a href="http://www.w3resource.com/javascript/javascript.php" class="thumbnail">
      <img src="#" width="380" height="180" >
  </a>
</li>
</ul>
<hr>
</div> <!-- /container -->
</body>
</html>
